* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: Baskerville, Arial, sans-serif;
}

#container{
	height: 100vh;
}

.top{
	width: 100%;
	text-align: center;
	background-color: #B2BEB5;
	height: 45vh;
	position: relative;
}

.bottom{
    width: 100%;
    text-align: center;
	background-color: #FFFFFF;
	height: 55vh;
	position: relative;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.profile-pic {
	width: 150px;
	border-radius: 50%;
}

.menu-icons {
	width: 60px;
	border-radius: 20%;
}

.links {
	width: 20px;
	height: 20px;
}

.text-margin {
	margin-bottom: 1.5rem !important;
}

.table {
	border-spacing:90px;
}