* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: 'Courier New', monospace;
}

#container{
	height: 100vh;
}

.left-div{
	width: 20%;
	float: left;
	text-align: center;
	background-color: #B2BEB5;
	height: 100vh;
	position: relative;
}
.right-div{
    width: 80%;
    float: right;
    text-align: center;
	background-color: #FFFFFF;
	height: 100vh;
	position: relative;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.profile-pic {
	width: 150px;
	border-radius: 50%;
}

.menu-icons {
	width: 30px;
	border-radius: 20%;
}
